*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4 / 3;
    --wp--preset--aspect-ratio--3-4: 3 / 4;
    --wp--preset--aspect-ratio--3-2: 3 / 2;
    --wp--preset--aspect-ratio--2-3: 2 / 3;
    --wp--preset--aspect-ratio--16-9: 16 / 9;
    --wp--preset--aspect-ratio--9-16: 9 / 16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}
header{
    /* border: 2px solid black; */
    height: 20vh;
    display: flex;
    
    align-items: center;
    background-color: #27477C;
}
.header-img{
    /* border: 2px solid purple; */
    margin-left: 5%;
    cursor: pointer;

}
.nav-bar{
    /* border: 2px solid pink; */
   margin: 80px;
}
.nav-link{
    /* border: 2px solid yellow; */
    padding: 12px;
    text-decoration: none;
    color: #fcb900;
    font-size: 18px;
    
}
.nav-link:hover{
    color:#D99808 ;
}
#home{
    color: white;
}
.nav-btn{
    border: 2px solid #fcb900;
    padding: 10px;
    width: 14%;
    cursor: pointer;
    color:#27477C ;
    font-weight: bold;
    background-color: #fcb900;
    border-radius: 25px;
    font-size: 20px;
    margin-right: 15px;
}
.nav-btn:hover{
    border: 2px solid #244578 ;
    color: #fff;
    background-color: #244578;
}
.section-one{
  position: relative;
  background-image: url("images/section\ one\ image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  color: white;
  padding: 10px;
  
}
 
.section-one::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(15, 45, 90, 0.75);
}
.section-one * {
  position: relative;
  z-index: 1;
}

.section-one h3{
    /* border: 2px solid black; */
    margin-top: 5%;
    margin-left:90px ;
    font-size: 20px;
    color: #fcb900;
}

.section-one h1{
    /* border: 2px solid blue; */
    margin-top: 12px;
    font-size: 60px;
    margin-left: 90px;
    font-weight: bold;
    color:white;
}
.section-one p{
    margin-top: 20px;
    margin-left: 90px;
    line-height: 30px;
    font-size: 20px;
}
.section-btn{
    border: 2px solid #fcb900;
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    margin-left: 90px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fcb900;
    color:#27477C;
    cursor:pointer;
    width: 200px;
}
.section-btn:hover{
     border: 2px solid #244578 ;
    color: #fff;
    background-color: #244578;
}
.section-one-btn{
   border: 2px solid #fcb900;
   background: transparent;
    margin-top: 20px;
    margin-left: 40px;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color:#fcb900;
    cursor:pointer;
    width: 200px;
}
.section-one-btn:hover{
     border: 2px solid #244578 ;
    color: #fff;
    background-color: #244578;
}
.section-two{
    /* border: 2px solid green; */
    height: 120vh;
    display: flex;
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.85)
    ),
   url(images/section\ Two\ image.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 80px 0;


}

.section-div-1{
    background-color: #27477C;
    border: 2px solid #27477C;
    /* margin: 50px; */
    margin-left: 7%;
    margin-top: 18%;
    padding: 90px;
    border-radius: 30px;
    width: 40%;
    height: 90vh;
}
.section-div-1 h1{
     /* border: 2px solid yellow; */
     margin-top: 20px;
     margin-right: 20px;
     margin-left: -10px;
     font-size: 30px;
     color: #fff;      
}
.section-div-1 img{
    /* border: 2px solid orange; */
    margin-left: 220px;
    border-radius: 90px;
    margin-top: -90px;
}
.section-div-1 h2{
    /* border: 2px solid black; */
    margin-left: -50px;
    margin-top: 20px;
    color: #fcb900;
}
.section-two-div1-line{
     width: 80px;        /* line ki length */
  height: 3px;        /* line ki thickness */
  background: #f4b400; /* yellow color */
  margin-top: 25px;
  margin-left: -50px;
}

.section-div-1 p{
    margin-left: -50px;
    margin-top: 50px;
    line-height: 25px;
    color: #fcb900;
}
.div1-btn{
    border: 2px solid #fcb900;
    margin-top: 30px;
    padding: 15px;
    margin-left: -50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fcb900;
    color:#27477C;
    cursor:pointer;
    width: 200px;
}
.div1-btn:hover{
     border: 2px solid #244578 ;
     color: #fcb900;
     background-color: #244578;
}
.section-div-2{
    background-color: #fcb900;
    border: 2px solid #fcb900;
    margin-left: 50%;
    margin-top: -62%;
    padding: 90px;
    border-radius: 30px;
    width: 40%;
    color: #fff;
    height: 90vh;
}
.section-div-2 img{
    /* border: 2px solid red; */
     width: 50%;
     margin-left: 250px;
     border-radius: 90px;
     margin-top: -90px;

}
.section-div-2 h2{
      margin-left: -50px;
    margin-top: 50px;
    color: #244578;
    font-size: 30px;
}
.section-two-div2-line{
     width: 80px;        /* line ki length */
  height: 3px;        /* line ki thickness */
  background: #244578; 
  margin-top: 25px;
  margin-left: -50px;
}
.section-div-2 p{
     margin-left: -50px;
    margin-top: 50px;
    line-height: 25px;
    color: #244578 ;
}
.div2-btn{
    border: 2px solid #fcb900;
    margin-top: 30px;
    padding: 15px;
    margin-left: -50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #244578;
    color:#fcb900;
    cursor:pointer;
    width: 200px;
}
.div2-btn:hover{
    background-color: #D99808;
    color: black;
}
/* section-three */
.section-three{
    /* border: 2px solid red; */
    margin-top: 18%;
    height: 60vh;
    
}
.section-three h1{
    text-align: center;
    font-size: 45px;
    color:#244578 ;
}
.section-three h3{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color:#fcb900 ;
}
.section-three-line{
    width: 80px;        /* line ki length */
  height: 3px;        /* line ki thickness */
  background: #244578; /* yellow color */
    margin-left: 45%;
    margin-top: 3%;
}
.section-three p{
    margin-top: 20px;
}
.section-three i{
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 80px;
    font-size: 35px;
    color:#244578 ;
    margin-left: 50px;
}
/* section four */
.section-four{
    background: 
     linear-gradient(
      rgba(255, 193, 7, 0.7),
      rgba(255, 193, 7, 0.85)
    ),
   url(images/sectionthree.jpg);

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 80px 0;

}
.section-four h2{
    /* border: 2px solid red; */
    margin-left: 90px;
    margin-top: 10%;
    color: #fff;

}
.section-four h1{
      /* border: 2px solid red; */
    margin-left: 90px;
    margin-top: 2%;
    font-size: 40px;
    color: #fff;
}
.sectionfour-btn{
    border: 2px solid #244578;
    margin-top: 30px;
    padding: 15px;
    margin-left: 90px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color:#244578;
    color:#fcb900;
    cursor:pointer;
    width: 200px;
}
.sectionfour-btn:hover{
     border: 2px solid #fcb900 ;
    color: #244578;
    background-color: #fcb900;
}
/* section-five */
.section-five{
    /* border: 2px solid red; */
    height: 110vh;
}
#para{
    /* border: 2px solid black; */
    margin-left: 6%;
    margin-top: 6%;
    font-size: 25px;
    color: #f4b400;
    font-weight: bold;
}
.section-five h1{
/* border: 2px solid yellow; */
margin-left: 6%;
margin-top: 1%;
font-size: 45px;
color: #27477C;
}
.section-five-line{

  width: 80px;        /* line ki length */
  height: 3px;        /* line ki thickness */
  background: #f4b400; /* yellow color */
   margin-left: 6%;
    margin-top: 3%;
}

.section-five-div2{
    /* border: 2px solid red; */
    margin-top: 3%;
    padding: 10px;
}
.section-five-div2 h2{
    /* border: 2px solid yellow; */
     margin-left: 6%;
     font-size: 30px;
     color:#27477C ;

}
.section-five-div2 p{
    margin-left: 6%;
    margin-top: 1%;
    line-height: 20px;
    word-spacing: 5px;
}
.sectionfive-div{
    /* border: 2px solid red; */
    
    
}
.sectionfive-div img{
/* border: 2px solid yellow; */
border-radius: 30px;
margin-left: 55%;
margin-top: -40%;
width: 40%;
filter: grayscale(100%);
}
.sectionfive-div h2{
     margin-left: 57%;
     margin-top: 1%;
     font-size: 30px;
     color:#27477C ;
}
.sectionfive-div p{
     margin-left: 57%;
     margin-top: 1%;
    line-height: 20px;
    word-spacing: 5px;
}
/* section-six */
.section-six{
    /* border: 2px solid red; */
background: 
    linear-gradient(
  rgba(50, 69, 120, 0.7),
 rgba(15, 45, 90, 0.75)
), 
   url(images/section\ six\ background\ images);   
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 15%;
  display: flex;

}
.sectionSix-div{
    /* border: 2px solid yellow; */
    margin-left: 6%;
    margin-top: -12%;
    border-radius: 20px;
    flex: 1;
}
.sectionSix-div img{
    border-radius: 25px;
}
.containerdiv{
    /* border: 2px solid orange; */
    flex: 1;
    margin-left: -20%;
}
.containerdiv h2{
    font-size: 35px;
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 100px;
    color: #f4b400;
}

.section-six-line{
    width: 90px;
    height: 3px;
    background:#f4b400;
    margin-left: 45%;
    margin-top: 3%;
}

/* numbers layout */
.containerdiv h1{
    /* border: 2px solid green; */
    display: inline-block;
    /* width: 120px; */
    font-size: 40px;
    margin-left: 1%;
    margin-top: 6%;
    color: #fff;
}

.containerdiv p{
    /* border: 2px solid yellow; */
    display: inline-flex;
    margin-top: -20%;
    margin-left: 20px;
    margin-right: 20px;
    color:#f4b400;
    font-weight: bold;
   
}
/* footer */
footer{
    /* border: 2px solid orange; */
    height: 20vh;
    display: flex;
    background-color: #27477C;
}
footer h5{
    margin-left: 6%;
    margin-top: 4%;
    color: #fff;
    font-size: 20px;
}
footer p{
    margin-left: 50%;
    margin-top: 4%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.last-section{
    padding: 60px;
    height: 60vh;
}
.parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 40px;
}
.last-section h3{
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
    color:#27477C;
    margin-bottom: 30px;
}

.last-section p{
    line-height: 25px;
}
.social{
    margin-top: 15px;
    font-size: 25px;
    color: #27477C;
}